    body{
        margin: 0;
        padding: 0;
        background: #2d3436;
        height: 100%;
    }

    .topo{
        position: relative;
        top: -20px;
    }

    p{
        top: 30px;
        font-size: 32px;
        color: white;
        font-family: verdana;

        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .texto{
        top: 24px;
        font-size: 25px;
        color: white;

        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .button_voltar{
        font-size: 18px;
        background-color: #bf463b;
        border: none;
        border-radius: 4px;
        color: #e6e6e6;
        padding: 8px 20px;
        text-decoration: none;
        position: relative;
        top: 56px;
        left: 50px;
    }

    #esquerda{
        height: 18px;
        position: relative;
        top: 3px;
        right: 3px;
    }

    .form-body{
        position: relative;
        top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h1{
        font-size: 28px;
        color: #daa500;
        
        position: relative;
        top: 2px;
        left: 21px;
    }

    fieldset{
        height: 580px;
        border-radius: 15px;
        background-color: #d1d1d1;
        width: 620px;
        border: 0;  
    }

    #indicador-nome{
        font-size: 20px;
        color:#daa500;

        position: relative;
        left: 22px;
    }

    #nome{
        position: relative;
        top: 36px;
        right: 15px;
        border: none;
        border-radius: 5px;
        padding: 6px 0;
    }

    #indicador-email{
        font-size: 20px;
        color:#daa500;

        position: relative;
        top: 50px;
        left: 22px;

    }

    #email{
        position: relative;
        top: 86px;
        right: 14px;
        border: none;
        border-radius: 5px;
        padding: 6px 0;
    }

    #indicador-telefone{
        font-size: 20px;
        color:#daa500;

        position: relative;
        top: 100px;
        left: 22px;
    }

    #telefone{
        position: relative;
        top: 136px;
        right: 36px;
        border: none;
        border-radius: 5px;
        padding: 6px 0;
    }

    #indicador-senha-atual{
        font-size: 20px;
        color: #daa500;

        position: relative;
        top: 150px;
        left: 22px;
    }

    #senha_atual{
        position: relative;
        top: 186px;
        right: 59px;
        border: none;
        border-radius: 5px;
        padding: 6px 0;
    }

    #indicador-nova-senha{
        font-size: 20px;
        color: #daa500;

        position: relative;
        top: 200px;
        left: 22px;
    }

    #nova_senha{
        position: relative;
        top: 236px;
        right: 60px;
        border: none;
        border-radius: 5px;
        padding: 6px 0;
    }

    #indicador-confirma{
        font-size: 20px;
        color: #daa500;

        position: relative;
        top: 250px;
        left: 22px;
    }

    #confirma_senha{
        position: relative;
        top: 265px;
        left: 43px;
        border: none;
        border-radius: 5px;
        padding: 6px 0;
    }

    .button_submit{
        font-size: 18px;
        background-color: #daa500;
        border: none;
        border-radius: 4px;
        color: #e6e6e6;
        padding: 8px 20px;
        position: relative;
        top: 280px;
        left: 417px;        
    }