    body{
        margin: 0;
        padding: 0;
        background: #2d3436;
        height: 100%;
    }

    .topo{
        position: relative;
        top: -18px;
    }
    
    p{
        top: 30px;
        font-size: 32px;
        color: white;
        font-family: verdana;

        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .texto{
        top: 50px;
        font-size: 25px;
        color: white;

        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .button_sair{
        font-size: 18px;
        background-color: #bf463b;
        border: none;
        border-radius: 4px;
        color: #e6e6e6;
        padding: 8px 20px;
        text-decoration: none;
        position: relative;
        top: 57px;
        left: 50px;
    }

    #sair{
        height: 18px;
        position: relative;
        top: 2.5px;
        right: 2.5px;
    }

    .class_body{
        top: 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        grid-gap: 25px 40px;
    }

    .class-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 720px;
    }

    .buttons{
        width: calc(50% - 15px);
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius:  16px;
        border: 2px solid #d52000e6;
        font-size: 16px;
        font-weight: 560;
        font-family: "Montserrat";
        text-transform: uppercase;
        /* margin-bottom: 20px; */
    }
    .buttons a{
        color: white;
        text-decoration: none;
        text-shadow: 0.1em 0.1em 0.2em black;
        
        display: block;
    }
    .buttons:nth-child(1){
        border: 2px solid #57e107e6;
        background-color: #57e107e6;
        /* #62ff07e6 */
    }
    .buttons:nth-child(2){
        border: 2px solid #f0b607e6;
        background-color: #f0b607e6;
        /* #ffc107e6 */
    }
    .buttons:last-child{
        width: 100%;
        height: 40px;
        
        background-color: #d52000e6;
        /* #ff2600e6 */
    }

    /* #button1 {
        position: relative;
        display: block;
        color: white;
        font-size: 14px;
        text-decoration: none;
        border: 2px solid #62ff07e6;
        border-radius: 20px;
        text-transform: uppercase;
        text-align: center;
        height: 210px;
    }

    #button2 {
        position: relative;
        display: block;
        color: white;
        font-size: 14px;
        text-decoration: none;
        border: 2px solid #ffc107e6;
        border-radius: 20px;
        text-transform: uppercase;
        text-align: center;
        height: 210px;
    }
    
    #button3 {
        position: relative;
        display: block;
        color: white;
        font-size: 14px;
        text-decoration: none;
        border: 2px solid #ff2600e6;
        border-radius: 20px;
        text-transform: uppercase;
        text-align: center;
        height: 40px;
        width: 720px;
    } */
